yay
xfce4
wireshark
vlc
wal
transmission
tidal-hifi
Thunar
systemd
Slack
pulse
pipewire
opensnitch
nitrogen
mpv
mc
LM Studio
jamesdsp
htop
gtk*
go
Electron
discord
dconf
Code
cava
btop
autostart
anything*
appimage*
EOS*
eos*
mime*
pavu*
reflect*
user-*


